:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #f4f5fc;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 1fr 10fr / 250px 6fr;
}

.sidebar {
    grid-area: 1 / 1 / 4 / 2;
    background-color: #fff;
    display: grid;
    grid-template: 1fr 8fr / 1fr;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    order: 1;
    display: grid;
    grid-template: 1fr / 1fr 6fr;
    grid-auto-flow: column;
    padding: 0 50px;
}

.top-background {
    grid-area: 1 / 2 / 3 / 3;
    background-color: #4c6bf9;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.content {
    grid-area: 2 / 2 / 4 / 3;
    display: grid;
    grid-template: 1fr 1fr / repeat(auto-fit, minmax(500px, 1fr));
    gap: 25px;
    padding: 25px;
    overflow: auto;
}

.content-item {
    background-color: #fff;
    border-radius: 25px;
    padding: 25px;
    min-height: 250px;
}

.bar {
    display: grid;
    grid-template: 1fr 1fr 4fr / 1fr 1fr 1fr;
}

.sub-text {
    grid-area: 1 / 1 / 2 / 2;
    font-weight: 600;
    color: #525252;
    padding-left: 4px;
    align-self: center;
}

.number {
    grid-area: 2 / 1 / 3 / 2;
    font-weight: 900;
    font-size: 2rem;
}

.day {
    grid-area: 1 / 3 / 2 / 4;
    width: 100px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    color: #fff;
    justify-self: right;
    align-self: center;
}

.content-item-1 > .day {
    background-color: #019601;
}

.content-item-2 > .day {
    background-color: #c00000;
}

.content-item-3 > .day {
    background-color: #4c6bf9;
}

.content-item-1 > label {
    color: #019601;
    grid-area: 3 / 3 / 4 / 4;
    justify-self: center;
    align-self: center;
    margin-bottom: 40px;
}

.content-item-2 > label {
    color: #c00000;
    grid-area: 3 / 2 / 4 / 3;
    justify-self: center;
    align-self: center;
    margin-bottom: 40px;
}

.content-item-3 > label {
    color: #4c6bf9;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: center;
    align-self: center;
    margin-bottom: 40px;
}

progress {
    grid-area: 3 / 1 / 4 / 4;
    place-self: center;
    width: 100%;
    height: 30px;
}

.progress-1 {
    accent-color: #019601;
}

.progress-2 {
    accent-color: #c00000;
}

.progress-3 {
    accent-color: #4c6bf9;
}

.sidebar > div {
    cursor: pointer;
    font-size: 1.75rem;
    margin-top: 15px;
    justify-self: center;
}

.sidebar > div > div {
    margin-top: 15px;
}

.home {
    color: #000;
    font-weight: 900;
    text-decoration: none;
    font-size: 2rem;
    place-self: center;
}

.icons {
    justify-self: right;
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    gap: 50px;
    padding-left: 50px;
    color: #fff;
}

.icons > svg {
    cursor: pointer;
}

.notification,
.mail {
    align-self: center;
}

.search {
    font-family: inherit;
    font-size: 1rem;
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 25px;
    border: none;
    padding-left: 30px;
    height: 40px;
    align-self: center;
}

.search-bar {
    display: grid;
    grid-template: 1fr / 1fr;
    width: 250px;
}

.search-bar > label {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    order: 1;
    padding-left: 5px;
}